@charset "UTF-8";
/* Mixin */
/* Set các giá trị với màn hình tương ứng */
p {
  font-size: 1rem; }
  @media (max-width: 479px) {
    p {
      font-size: 12px; } }

ul {
  list-style: none; }

.hide {
  display: none !important;
  duration: 3s; }

.header-section {
  position: fixed;
  z-index: 999;
  width: 100%; }

.navbar {
  justify-content: space-between;
  height: 103px;
  padding: 10px; }
  .navbar .logo {
    width: 146.38px; }
  .navbar ul {
    display: flex;
    width: 65%;
    justify-content: space-between; }
    .navbar ul a {
      text-decoration: none; }

.NavButtonModal .ant-modal-footer {
  display: none; }

.logo-block {
  text-align: center; }
  .logo-block ul {
    display: flex;
    flex-wrap: wrap; }

.logo-item {
  padding: 20px; }
  .logo-item img {
    max-width: 350px; }

.footer {
  color: #fff;
  background-color: #001d26;
  width: 100%; }
  .footer .footer-iconlink {
    width: 50%;
    display: flex;
    margin: 0 auto; }
    .footer .footer-iconlink .icon {
      border: 1px solid #fff;
      border-radius: 50%;
      padding: 5px;
      margin: 10px 15px;
      width: 40px;
      height: 40px; }

.bottom-bar {
  color: #fff;
  width: 100%;
  display: flex;
  background-color: #4099f1;
  padding: 20px;
  justify-content: space-between; }
  .bottom-bar a {
    color: white;
    text-decoration: none; }
  .bottom-bar .bottom-right {
    display: flex;
    width: 20%;
    justify-content: space-between; }
