.ProjectItem {
  padding-bottom: 2em;
  .tags {
    padding-top: 1em;

    .project-tag {
      color: dodgerblue;
      text-transform: uppercase;
      font-size: 12px;
      padding-right: 1em;
    }
  }
  .card-body {
    .card-title {
      a {
        color: grey;
      }
      a:hover  {
        color: dodgerblue;
      }
    }
  }
}

.more-prjects {
  padding-top: 2em;
  text-align: center;

  button {
    color: white;
    border-color: white;
  }
}
