.nav-item {
  a {
    color: gray;
  }
}

.menu-collapse{
  border-color: transparent !important;
}

.ant-btn-primary {
  background-color: transparent !important;
  border-color: transparent !important;
}

.fa-bars {
  color: gray !important;
}

@media only screen and (max-width: 767px) {
  .nav-item {
    a {
      color: black;
    }
  }
  .fa-bars {
    color: black !important;
  }
}
