.PageDescription {
  min-height: 40em;
  display: flex;
  align-items: center;
  text-align: center;
  .title {
    margin: auto;
    h1 {
      font-size: 130px;
      text-transform: uppercase;
      font-weight: 500;
      color: teal;
    }
  }
  .content {
    text-align: left;
    padding: 0 5em;
    font-weight: 500;
    h3 {
      color: gray;
    }
    p {
      font-size: 16px;
      color: black;
    }
  }
}

@media (max-width: 671px) {
  .PageDescription {
    .title {
      width: 100%;
      padding: 0;
      h1 {
        font-size: 65px;
      }
    }
  }
}
