.Projects {
  padding: 5em 5em;
  background-color: #001d26;
  .card-body {
    padding-left: 0;
  }
  .odd-col {
    h4 {
      color: lightblue;
    }
    h3 {
      color: dodgerblue;
    }
    p {
      color: lightblue;
    }
  }

  .even-col {
    h4 {
      color: lightblue;
    }
    h3 {
      color: dodgerblue;
    }
    p {
      color: lightblue;
    }
  }
}
