.OurTeam {
  background-color: #001d26;
  .ourteam-image {
    padding: 2em 5em;
    justify-content: center;
    align-items: center;
    .col-6:nth-child(1) {
      padding-right: 15em;
    }
    .col-6:nth-child(2) {
      padding-right: 15em;
    }
    h3 {
      color: lightblue;
      font-size: 110px;
      text-align: left;
      text-transform: uppercase;
    }
    p {
      color: #4d6978;
      font-weight: bold;
      font-size: 24px;
    }
  }

  .kagency {
    padding: 2em 5em;
    h4 {
      color: lightblue;
      font-size: 45px;
      text-transform: uppercase;
      margin-bottom: 0;
    }
    h3 {
        color: dodgerblue;
        font-size: 85px;
        text-transform: uppercase;
    }
  }
}
